@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Page Colors */

$text: #26265E;
$bg: #F9FAFC;
$hv-color: #6501e5;
$border:#d3dce6;
$border-bg:#fbfbfb;

/* Page Colors */

* {
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
}

hr {
    background: $border;
    height: 1px;
    border: 0;
}

.img {
    border-radius: 10px;
    width: 85%;
    margin: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.free-space {
    margin: 100px 0;
}

.svg-arrow {
    width: 20px;
    height: 20px;
}

.arrow {
    width: 15px;
    height: 15px;
}

nav {
    color: $text;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    .nav-items {
        display: flex;
        padding: 1.5% 5%;
        background-color: $bg;
        justify-content: space-between;
        h3 {
            color: $hv-color;
        }
        .nav-links {
            font-size: 16px;
            text-decoration: none;
            padding: 0 7px;
            &:hover {
                text-decoration: underline;
                text-underline-offset: 7px;
                transition: 0.3s;
                color: $hv-color;
            }
        }
    }
}

.page-content {
    color: $text;
    background-color: $bg;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    margin: 20px 0;
    padding: 2%;
    .left-bar {
        width: 30%;
    }
    .main-bar {
        width: 70%;
    }
    .side-bar {
        display: fixed;
        margin: 2% 5%;
        width: 80%;
        background-color: $border-bg;
        border: 1px solid $border;
        border-radius: 6px;
        .main-text {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            button {
                border: none;
                transform: rotate(90deg);
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 16px 34px;
        }
        .link-items {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 6px;
            font-size: 14px;
            text-decoration: none;
            opacity: 80%;
            font-weight: 500;
            padding: 8px 24px;
            line-height: 20px;
            transition: all .2s ease-in;
            &:hover {
                transition: 0.5s;
                color: $hv-color;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .items-div {
            padding: 20px 10px;
            display: inline-block;
        }
    }
    .main-bar {
        display: flex;
        padding: 5px 6%;
    }
}

.main-body {
    margin: 3% 5%;
    text-align: center;
}

.products {
    display: flex;
    justify-content: start;
    .set {
        display: flex;
        flex-direction: column;
        margin: 10px 20px 10px 0;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
            padding: 10px;
            h4,
            p {
                opacity: 70%;
            }
        }
    }
}

.main-text {
    display: flex;
    width: 80%;
    .intro {
        .img-center {
            text-align: center;
            width: 100%;
        }
    }
    .text-container {
        margin: 20px 0;
        p {
            padding: 3% 4%;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            line-height: 35px;
            font-weight: 400;
            font-size: 16px;
            border-radius: 10px;
            color: rgba(29, 30, 76, 0.87);
            background-color: #f6f6f6;
        }
    }
    hr {
        margin: 22px 0;
    }
}

.editor {
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid $border;
    border-left: 4px solid #d3dce6bb;
    margin-top: 24px;
    margin-bottom: 40px;
    background: #f4f7ff;
    pre {
        padding: 16px;
        background-color: #383b40;
        color: $bg;
        border-radius: 2px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        .code {
            font-size: 16px;
            background-color: #383b40;
            line-height: 20px;
        }
    }
}